<?xml version="1.0"?>
<config>
    <modules>
        <Ruslan_Rem>
            <version>0.0.2</version>
        </Ruslan_Rem>
    </modules>

    <global>
        <blocks>
            <ruslan_rem>
                <class>Ruslan_Rem_Block</class>
            </ruslan_rem>
            <catalog>
                <rewrite>
                    <product_price>Ruslan_Rem_Block_Catalog_Product_View_Price</product_price>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <ruslan_rem>
                <class>Ruslan_Rem_Model</class>
                <resourceModel>ruslan_rem_resource</resourceModel>
            </ruslan_rem>
            <ruslan_rem_resource>
                <class>Ruslan_Rem_Model_Resource</class>
                <entities>
                    <myrem>
                        <table>aaatable</table>
                    </myrem>
                </entities>
            </ruslan_rem_resource>
            <adminhtml>
                <rewrite>
                    <system_config_source_yesno>Ruslan_Rem_Model_System_Config_Source_Yesno</system_config_source_yesno>
                </rewrite>
            </adminhtml>
        </models>
        <helpers>
            <ruslan_rem>
                <class>Ruslan_Rem_Helper</class>
            </ruslan_rem>
        </helpers>
        <resources>
            <setup>
                <setup>
                    <module>Ruslan_Rem</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </setup>
        </resources>
    </global>

    <frontend>
        <events>
            <catalog_product_get_final_price>
                <observers>
                    <ruslan_rem_module_observer>
                        <!--<class>Ruslan_Rem_Model_Observer</class>-->
                        <class>ruslan_rem/observer</class>
                        <method>changePrice</method>
                    </ruslan_rem_module_observer>
                </observers>
            </catalog_product_get_final_price>
        </events>
        <routers>
            <ruslan_rem>
                <use>standard</use>
                <args>
                    <module>Ruslan_Rem</module>
                    <frontName>rem</frontName>
                </args>
            </ruslan_rem>
        </routers>
    </frontend>
    <layout>
        <updates>
            <ruslan_rem>
                <file>rem/rem.xml</file>
            </ruslan_rem>
        </updates>
    </layout>
</config>